<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    <img src="/img/{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} {{with .Get "retina" }}{{ end }} />
  {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
  <figcaption>{{ if isset .Params "title" }}
    <h3>{{ .Get "title" }}</h3>{{ end }}
    {{ with .Get "link" }}<a href="{{ . }}" class="view">view</a>{{ end }}
    {{ with .Get "pdf" }}<a href="/pdf/{{ . }}" class="download">download</a>{{ end }}
  </figcaption>
  {{ end }}
</figure>